# Python
__pycache__/
*.pyc

# Virtual Envs
VERA-env/
VERA-FaceMesh/
VERA-WhisperAudio/
VERA-PoseBody/

# OS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Models
models/*
!models/.gitkeep
