# Python
__pycache__/
*.pyc

# Virtual Envs
VERA-env/
VERA-FaceMesh/
VERA-WhisperAudio/
VERA-PoseBody/

# OS
.DS_Store
.env

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Data
data/clustering_dataset/*
!data/clustering_dataset/.gitkeep
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
video-analyzer-app/data/processed/*
!video-analyzer-app/data/processed/.gitkeep

# Models
models/*
!models/.gitkeep

# Reports
reports/*
!reports/.gitkeep

# Clustering Results
data/clustering_results/

# Docs
docs/*
!docs/.gitkeep
